.validation-message-username{
    color: red;
    // position: absolute;
    // top: 30%;
    font-size: 86%;
}

.validation-message-password{
    color: red;
    // position: absolute;
    // top: 30%;
    font-size: 86%;
}
.margin-top{
    margin-top: 6%;
}
.validation-message{
    color: red;
    // position: absolute;
    // top: 30%;
    font-size: 86%;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}