<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <div class="validation-message" role="alert" *ngIf="loginFailure">
            Access Denied
        </div>
        <form name="form" (ngSubmit)="login(loginForm)" #f="ngForm" [formGroup]="loginForm">
            <div class="row">
                <div class="col-sm-8">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" formControlName="userName" required />
                </div>

                <div *ngIf="loginForm.controls.userName.touched && !loginForm.controls.userName.valid"
                    class="validation-message-username col-sm-8">
                    UserName is required
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" formControlName="password" required />
                </div>
                <div *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid"
                    class="validation-message-password col-sm-8">
                    Password is required
                </div>

            </div>
            <div class="row margin-top">
                <div class="col-sm-8">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <a [routerLink]="['/register']" class="btn btn-link">Create New Account</a>
                </div>
                <div class="alert alert-success col-sm-8" role="alert" *ngIf="loginSuccess">
                    This is a success alert—check it out!
                </div>
            </div>

        </form>
    </div>
</div>