<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>

    <div class="alert alert-danger" role="alert" *ngIf="registerFailure">
      Error while registering User
    </div>

    <form [formGroup]="registerationForm" (ngSubmit)="register(registerationForm)">

      <div class="row">
        <div class="col-sm-8">
          <label for="firstName" class="label-control">First Name</label>
          <input type="text" class="form-control" name="firstName" formControlName="firstName" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.firstName.touched && !registerationForm.controls.firstName.valid"
          class="validation-message col-sm-8">
          firstName is required
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="lastName" class="label-control">Last Name</label>
          <input type="text" class="form-control" name="lastName" formControlName="lastName" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.lastName.touched && !registerationForm.controls.lastName.valid"
          class="validation-message col-sm-8">
          LastName is required
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="email" class="label-control">Email</label>
          <input type="email" class="form-control" name="email" formControlName="email" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.email.touched && !registerationForm.controls.email.valid"
          class="validation-message col-sm-8">
          Email is required
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="username" class="label-control">Username</label>
          <input type="text" class="form-control" name="username" formControlName="username" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.username.touched && !registerationForm.controls.username.valid"
          class="validation-message col-sm-8">
          UserName is required
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="password" class="label-control">Password</label>
          <input type="password" class="form-control" name="password" formControlName="password" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.password.touched && !registerationForm.controls.password.valid"
          class="validation-message col-sm-8">
          Password is required
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="password" class="label-control">Confirm Password</label>
          <input type="password" class="form-control" name="confPassword" formControlName="password" required />
        </div>
        <!-- <div *ngIf="registerationForm.controls.userName.touched && !registerationForm.controls.userName.valid"
          class="validation-message col-sm-8">
          UserName is required
        </div> -->
      </div>

      <div class="row margin-top">
        <div class="col-sm-8">
          <button class="btn btn-primary">Register</button>
        </div>
        <div class="col-sm-8">
          <a [routerLink]="['/login']" class="btn btn-link">Login Here If Already Have an Account</a>
        </div>

      </div>
    </form>
  </div>
</div>