.margin-top{
    margin-top: 6%;
}
.validation-message{
    color: red;
    font-size: 86%;
}
// .form-control{
//     margin-top:10%;
// }
.label-control{
margin-top: 3%;
} 
.btn btn-link{
    color: blue;
}
.center_div{
    margin: 0 auto;
    width:80% 
}