<div class="col-md-6 col-md-offset-3">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>AlbumName</th>
        <th>SingerName</th>
        <th>AlbumImage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let music of musicAlbum">
        <td>{{music.id}}</td>
        <td>{{ music.albumName }}</td>
        <td> <img
            src="data:image/png;base64, {{music.albumImage}} | safeUrl"
            alt="Red dot" />
        </td>
          <!-- <td>{{ music."albumName" }}</td> -->
          <!-- <td>{{ music.age }}</td> -->
      </tr>
    </tbody>
  </table>
</div>