<div class="container">
  <div class="row">
    <div class="col-sm-11"></div>
    <div class="col-sm-1">
      <select (change)="logout()">
        <option value="0">{{userName}}</option>
        <option value="1">Logout</option>
      </select>

    </div>
  </div>


  <h2 class="text-center musicText">Music List</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">AlbumName</th>
          <th scope="col">AlbumImage</th>
          <th scope="col">Song</th>
          <th scope="col">singerName</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody *ngFor="let album of musicAlbum">
        <tr *ngFor="let music of album.music;let i = index">
          <!-- <td>{{album.id}} </td> -->
          <td>{{album.albumName }} <div>
            </div>
          </td>
          <td> <img src="{{album.albumImage}}" alt="Red dot" class="album-img" />
          </td>
          <td (click)="playMusic(album.albumName,music.singerName,album.albumImage,music.musicFileName,music.musicName)">
            {{music.musicName}}
          </td>
          <td>
            {{music.singerName}}
          </td>
          <td>
            {{music.description}}
          </td>
          <td>
            <img class="playImg" src="{{playImg}}" alt="Red dot" >

          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>